<!--Start recent updates-->
<div class="recent-updates-wrapper">
  <h5 class="recent-updates-title">Recent Updates</h5>
  <perfect-scrollbar style="height: 266px;">
    <div class="recent-update-post d-flex align-items-start">
      <img class="recent-updates-user-img" src="assets/images/recent-updates-user-img.png" alt="">
      <div class="recent-update-post-data d-flex flex-column">
        <p class="recent-update-post-data-text">
          {{updateText.substring(0,54)}}<ng-container *ngIf="updateText.length>54"> ...</ng-container>
        </p>
        <p class="recent-update-post-time">3 min ago.</p>
      </div>
    </div>

    <div class="recent-update-post d-flex align-items-start">
      <img class="recent-updates-user-img" src="assets/images/recent-updates-user-img.png" alt="">
      <div class="recent-update-post-data d-flex flex-column">
        <p class="recent-update-post-data-text">{{updateText.substring(0,54)}}<ng-container
            *ngIf="updateText.length>54"> ...</ng-container>
        </p>
        <p class="recent-update-post-time">3 min ago.</p>
      </div>
    </div>


    <div class="recent-update-post d-flex align-items-start">
      <img class="recent-updates-user-img" src="assets/images/recent-updates-user-img.png" alt="">
      <div class="recent-update-post-data d-flex flex-column">
        <p class="recent-update-post-data-text">{{updateText.substring(0,54)}}<ng-container
            *ngIf="updateText.length>54"> ...</ng-container>
        </p>
        <p class="recent-update-post-time">3 min ago.</p>
      </div>
    </div>


    <div class="recent-update-post d-flex align-items-start">
      <img class="recent-updates-user-img" src="assets/images/recent-updates-user-img.png" alt="">
      <div class="recent-update-post-data d-flex flex-column">
        <p class="recent-update-post-data-text">{{updateText.substring(0,54)}}<ng-container
            *ngIf="updateText.length>54"> ...</ng-container>
        </p>
        <p class="recent-update-post-time">3 min ago.</p>
      </div>
    </div>

    <div class="recent-update-post d-flex align-items-start">
      <img class="recent-updates-user-img" src="assets/images/recent-updates-user-img.png" alt="">
      <div class="recent-update-post-data d-flex flex-column">
        <p class="recent-update-post-data-text">{{updateText.substring(0,54)}}<ng-container
            *ngIf="updateText.length>54"> ...</ng-container>
        </p>
        <p class="recent-update-post-time">3 min ago.</p>
      </div>
    </div>

    <div class="recent-update-post d-flex align-items-start">
      <img class="recent-updates-user-img" src="assets/images/recent-updates-user-img.png" alt="">
      <div class="recent-update-post-data d-flex flex-column">
        <p class="recent-update-post-data-text">{{updateText.substring(0,54)}}<ng-container
            *ngIf="updateText.length>54"> ...</ng-container>
        </p>
        <p class="recent-update-post-time">3 min ago.</p>
      </div>
    </div>

    <div class="recent-update-post d-flex align-items-start">
      <img class="recent-updates-user-img" src="assets/images/recent-updates-user-img.png" alt="">
      <div class="recent-update-post-data d-flex flex-column">
        <p class="recent-update-post-data-text">{{updateText.substring(0,54)}}<ng-container
            *ngIf="updateText.length>54"> ...</ng-container>
        </p>
        <p class="recent-update-post-time">3 min ago.</p>
      </div>
    </div>

    <div class="recent-update-post d-flex align-items-start">
      <img class="recent-updates-user-img" src="assets/images/recent-updates-user-img.png" alt="">
      <div class="recent-update-post-data d-flex flex-column">
        <p class="recent-update-post-data-text">{{updateText.substring(0,54)}}<ng-container
            *ngIf="updateText.length>54"> ...</ng-container>
        </p>
        <p class="recent-update-post-time">3 min ago.</p>
      </div>
    </div>

    <div class="recent-update-post d-flex align-items-start">
      <img class="recent-updates-user-img" src="assets/images/recent-updates-user-img.png" alt="">
      <div class="recent-update-post-data d-flex flex-column">
        <p class="recent-update-post-data-text">{{updateText.substring(0,54)}}<ng-container
            *ngIf="updateText.length>54"> ...</ng-container>
        </p>
        <p class="recent-update-post-time">3 min ago.</p>
      </div>
    </div>

    <div class="recent-update-post d-flex align-items-start">
      <img class="recent-updates-user-img" src="assets/images/recent-updates-user-img.png" alt="">
      <div class="recent-update-post-data d-flex flex-column">
        <p class="recent-update-post-data-text">{{updateText.substring(0,54)}}<ng-container
            *ngIf="updateText.length>54"> ...</ng-container>
        </p>
        <p class="recent-update-post-time">3 min ago.</p>
      </div>
    </div>

    <div class="recent-update-post d-flex align-items-start">
      <img class="recent-updates-user-img" src="assets/images/recent-updates-user-img.png" alt="">
      <div class="recent-update-post-data d-flex flex-column">
        <p class="recent-update-post-data-text">{{updateText.substring(0,54)}}<ng-container
            *ngIf="updateText.length>54"> ...</ng-container>
        </p>
        <p class="recent-update-post-time">3 min ago.</p>
      </div>
    </div>
  </perfect-scrollbar>
</div>
<!--End recent updates-->
